---
import Layout from "../../layouts/Layout.astro";
const allBlogs = await Astro.glob("./*.mdx");
allBlogs.sort(
  (a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
);
---

<Layout title="Blog | To Huynh" desc="My Blogs" currentPage="/blog">
  <h1 class="text-3xl font-bold">Read my blog</h1>
  <ul class="mt-6 flex flex-col gap-4">
    {
      allBlogs.map((blog) => (
        <li class="relative text-zinc-300">
          <a
            class="font-semibold before:absolute before:inset-0 before:content-['']"
            href={blog.url}
          >
            {blog.frontmatter.title}
          </a>
          <time class="block text-sm text-zinc-400" datetime={blog.frontmatter.pubDate}>
            {new Date(blog.frontmatter.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>
