---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import IconLink from "../components/IconLink.astro";

const projects = [
  {
    name: "Chirp",
    desc: "A Twitter clone, but with emojis only.",
    url: "https://chirp-tohuynh.vercel.app",
    techs: [
      "TypeScript",
      "Next.js",
      "Clerk",
      "Upstash",
      "Prisma",
      "tRPC",
      "React",
      "Headless UI",
      "Tailwind CSS",
    ],
    gitHub: {
      name: "Chirp codebase",
      url: "https://github.com/tohuynh/chirp",
    },
  },
  {
    name: "Tiny Mixtape",
    desc: "Create personalized Spotify playlists",
    url: "https://tiny-mixtape.vercel.app",
    techs: [
      "TypeScript",
      "Next.js",
      "NextAuth.js",
      "tRPC",
      "React",
      "Headless UI",
      "Tailwind CSS",
      "dnd kit",
      "Spotify Web API",
    ],
    gitHub: {
      name: "Tiny Mixtape codebase",
      url: "https://github.com/tohuynh/tiny-mixtape",
    },
  },
  {
    name: "AnnoREP",
    desc: "An open-source, web-based tool that helps facilitate Annotation for Transparent Inquiry (ATI) and other annotation-based workflows.",
    url: "https://anno-rep.org",
    techs: [
      "TypeScript",
      "Next.js",
      "NextAuth.js",
      "React",
      "Carbon Design System",
      "Storybook",
      "Jest",
    ],
    gitHub: {
      name: "AnnoREP-Frontend codebase",
      url: "https://github.com/QualitativeDataRepository/AnnoREP-Frontend",
    },
    documentation: {
      name: "AnnoREP-Frontend documentation",
      url: "https://qualitativedatarepository.github.io/AnnoREP-Frontend",
    },
  },
  {
    name: "SIGLA Database",
    desc: "An online multilingual database that freely provides information on legal and political institutions in Latin America.",
    url: "https://www.sigladata.org",
    techs: [
      "Python",
      "Prefect",
      "MongoDB",
      "GitHub Actions",
      "TypeScript",
      "Express",
      "React",
      "Redux Toolkit",
      "Ant Design",
    ],
    gitHub: {
      name: "siglatools codebase",
      url: "https://github.com/SIGLA-GU/siglatools",
    },
    documentation: {
      name: "siglatools documentation",
      url: "https://sigla-gu.github.io/siglatools",
    },
  },
  {
    name: "Council Data Project",
    desc: "A set of open-source tools to improve the accessibility of local government data.",
    url: "https://councildataproject.org",
    techs: [
      "Python",
      "Firebase",
      "TypeScript",
      "Vite",
      "React",
      "Semantic UI React",
      "Emotion",
      "Storybook",
    ],
    gitHub: {
      name: "cookiecutter-cdp-deployment codebase",
      url: "https://github.com/CouncilDataProject/cookiecutter-cdp-deployment",
    },
    documentation: {
      name: "Council Data Project: Software for Municipal Data Collection, Analysis, and Publication",
      url: "https://doi.org/10.21105/joss.03904",
    },
  },
];
---

<Layout title="To Huynh">
  <main class="flex flex-col items-center bg-gradient-to-b from-gray-900 to-slate-950">
    <div class="flex h-[100vh] max-w-md flex-col items-center justify-around">
      <div class="flex flex-col gap-4 rounded-md border border-purple-100/5 bg-white/5 p-4">
        <h1 class="text-3xl font-bold text-purple-100">To Huynh</h1>
        <p class="text-sm text-purple-100/80">
          Self-taught software developer with over 2 years of experience in full-stack web
          development.
        </p>
        <ul class="flex gap-1">
          <li>
            <IconLink href="https://github.com/tohuynh" text="GitHub">
              <svg
                class="h-5 w-5 fill-zinc-200"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 1.27a11 11 0 00-3.48 21.46c.55.09.73-.28.73-.55v-1.84c-3.03.64-3.67-1.46-3.67-1.46-.55-1.29-1.28-1.65-1.28-1.65-.92-.65.1-.65.1-.65 1.1 0 1.73 1.1 1.73 1.1.92 1.65 2.57 1.2 3.21.92a2 2 0 01.64-1.47c-2.47-.27-5.04-1.19-5.04-5.5 0-1.1.46-2.1 1.2-2.84a3.76 3.76 0 010-2.93s.91-.28 3.11 1.1c1.8-.49 3.7-.49 5.5 0 2.1-1.38 3.02-1.1 3.02-1.1a3.76 3.76 0 010 2.93c.83.74 1.2 1.74 1.2 2.94 0 4.21-2.57 5.13-5.04 5.4.45.37.82.92.82 2.02v3.03c0 .27.1.64.73.55A11 11 0 0012 1.27"
                ></path>
              </svg>
            </IconLink>
          </li>
          <li>
            <IconLink href="mailto:huynh.nto@gmail.com" text="Email">
              <svg
                class="h-5 w-5 fill-zinc-200"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                ><path
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"
                ></path></svg
              >
            </IconLink>
          </li>
        </ul>
      </div>
      <div class="flex justify-center">
        <IconLink href="#projects" text="Read more" size="h-10 w-10" isExternal={false}>
          <svg
            class="h-7 w-7 fill-zinc-50"
            focusable="false"
            aria-hidden="true"
            viewBox="0 0 24 24"
            data-testid="ArrowDownwardIcon"
            aria-label="fontSize large"
            ><path d="m20 12-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path></svg
          >
        </IconLink>
      </div>
    </div>
    <div id="projects" class="py-2 lg:max-w-3xl lg:p-4">
      <h1 class="flex justify-center p-4 text-3xl font-bold text-purple-100">Projects</h1>
      <ul
        class="flex flex-col items-center gap-8 lg:flex-row lg:flex-wrap lg:items-start lg:justify-center"
      >
        {
          projects.map((project) => (
            <li>
              <ProjectCard {...project} />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
