---
interface Props {
  href: string;
  text: string;
  size?: string;
  isExternal?: boolean;
}

const { href, text, size, isExternal = true } = Astro.props;
---

<a
  class={`hover:bg-gray-600 h-8 w-8 flex justify-center items-center rounded-full ${
    size || "h-8 w-8"
  }`}
  href={href}
  target={isExternal ? "_blank" : "_self"}
  rel={isExternal ? "noopener noreferrer" : ""}
>
  <span class="sr-only">{text}</span>
  <slot />
</a>
