---
export interface Props {
  currentPage: "/" | "/projects" | "/blog";
}

const links = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
];

const { currentPage } = Astro.props;
---

<nav class="mt-8 py-2">
  <ul class="flex font-semibold">
    {
      links.map((link) => (
        <li class={`${link.href !== currentPage ? "text-zinc-400" : ""} px-1 hover:text-zinc-100`}>
          <a class="p-1" href={link.href}>
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
